.postsMain {
  max-width: 800px;
  margin: 50px auto;
}

.postsBox {
  padding: 1rem;
}

.postsImg {
  height: auto;
  max-width: 100%;
}

.postsInfo {
  padding: 1rem;
}

.postsBoxNav {
  display: flex;
  justify-content: space-between;
}

.postsBoxNavDate {
  color: #ccc;
}

.postsBoxTextsTitle {
  font-weight: lighter;
  font-size: 1.5rem;
}


